/*
  Name: Hanyang Yu
  Date: Apirl 13, 2023
  Section: CSE 154 AF
  TA: Donovan Kong && Sonia Saitawdekar
  This is the styles.css page for my space.html including background and fonts.
  It lays up different sections in space.html, including intro, facts and jokes.
*/
body {
  background-image: url("img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Share Tech Mono', monospace;
}

header {
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

footer {
  width: 100%;
}

section {
  width: 80%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

header, #intro section, #jokes section {
  display: flex;
  align-items: center;
}

header h1 {
  text-transform: uppercase;
  font-size: 120px;
  margin-bottom: 0px;
  text-shadow: 20px 15px 20px #551755;
  font-family: 'Coda Caption', sans-serif;
}

header blockquote {
  margin-top: 0px;
  font-size: 22px;
}

footer, #intro, #facts {
    background-color: #E0DBD7;
}

footer p, #jokes, section h2 {
  text-align: center;
}

section h2 {
  font-size: 35px;
  text-decoration: underline;
}

#intro, #facts {
  padding: 30px;
  border-top: 15px solid #551755;
  border-bottom: 15px solid #551755;
}

#intro section {
  flex-direction: row;
}

#intro img {
  width: 25vw;
  height: 100%;
  border-radius: 10%;
  margin: 10px 50px 10px 10px;
}

#facts p {
  font-size: 25px;
}

#facts li, #intro p {
  font-size: 20px;
}

a:link {
  color: #FFA605;
}

a:visited {
  color: #1B505F;
}

#jokes section {
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#jokes section article {
  margin: 15px;
  height: 400px;
  width: 300px;
  background-color: #9B590D;
  opacity: 0.8;
}

#jokes section article, footer p {
  padding: 20px;
}

#jokes section article img {
  height: 150px;
  width: 150px;
}

#jokes section article hr {
  width: 60%;
}

#jokes section article p {
  margin-top: 20px;
  text-align: left;
}

article p span {
  font-size: 28px;
}

#jokes section article p, .answer {
  font-size: 24px;
}

article p span, #jokes > p, #jokes h2, header {
  color: #E0DBD7;
}

.answer {
  color: #191818;
  visibility: hidden;
}

article:hover .answer {
  visibility: visible;
}